util_zip.VC.db
.vs/util_zip/v15/ipch/4092522d7a05d32c.ipch
.vs/util_zip/v15/ipch/3a92577b87dbae9.ipch
.vs/util_zip/v15/Browse.VC.db
ipch/UTIL_ZIP-9c4c2904/UTIL_ZIP-cdaebfb4.ipch
lib/libutil_zip_x64.a
util_zip/x64/Release/util_zip.tlog/CL.read.1.tlog
util_zip/x64/Release/util_zip.tlog/CL.command.1.tlog
util_zip/x64/Debug/util_zip.tlog/CL.command.1.tlog
util_zip/x64/Debug/util_zip.idb
util_zip/x64/Release/util_zip.tlog/util_zip.lastbuildstate
util_zip/x64/Debug/util_zip.tlog/util_zip.lastbuildstate
util_zip/x64/Debug/util_zip.tlog/lib.command.1.tlog
util_zip/x64/Debug/util_zip.tlog/CL.write.1.tlog
util_zip/x64/Release/util_zip.tlog/Lib.command.1.tlog
util_zip/x64/Release/util_zip.tlog/Lib-link.write.1.tlog
util_zip/x64/Debug/util_zip.tlog/Lib-link.write.1.tlog
util_zip/x64/Debug/util_zip.tlog/Lib-link.read.1.tlog
util_zip/x64/Release/util_zip.tlog/Lib-link.read.1.tlog
util_zip/x64/Debug/util_zip.tlog/CL.read.1.tlog
util_zip/x64/Release/util_zip.tlog/CL.write.1.tlog
util_zip/ReadMe.txt
build_winx64/
